CompileFlags:
  Add:
    - "-xc++"
    - "-Wall"
    - "-Wextra"
    - "-pedantic"
    - "--include-directory=/opt/ros/jazzy/include/rclcpp"
    - "--include-directory=/opt/ros/jazzy/include/rcl"
    - "--include-directory=/opt/ros/jazzy/include/rcl_interfaces"
    - "--include-directory=/opt/ros/jazzy/include/builtin_interfaces"
    - "--include-directory=/opt/ros/jazzy/include/rcutils"
    - "--include-directory=/opt/ros/jazzy/include/rosidl_runtime_cpp"
    - "--include-directory=/opt/ros/jazzy/include/rosidl_runtime_c"
    - "--include-directory=/opt/ros/jazzy/include/rosidl_typesupport_interface"
    - "--include-directory=/opt/ros/jazzy/include/rosidl_typesupport_introspection_cpp"
    - "--include-directory=/opt/ros/jazzy/include/rosidl_dynamic_typesupport"
    - "--include-directory=/opt/ros/jazzy/include/service_msgs"
    - "--include-directory=/opt/ros/jazzy/include/std_msgs"
    - "--include-directory=/opt/ros/jazzy/include/sensor_msgs"
    - "--include-directory=/opt/ros/jazzy/include/statistics_msgs"
    - "--include-directory=/opt/ros/jazzy/include/rmw"
    - "--include-directory=/opt/ros/jazzy/include/rcpputils"
    - "--include-directory=/opt/ros/jazzy/include/rcl_yaml_param_parser"
    - "--include-directory=/opt/ros/jazzy/include/type_description_interfaces"
    - "--include-directory=/opt/ros/jazzy/include/tracetools"
    - "--include-directory=/opt/ros/jazzy/include/libstatistics_collector"
    # Local files
    - "--include-directory=/home/marco/ros2_ws/src/bliss/include"
    - "--include-directory=/home/marco/ros2_ws/install/bliss/include/bliss"
Diagnostics:
  MissingIncludes: None
  UnusedIncludes: None
